.formRenderWrapper {
	width: 80%;
	background-color: #f9f9f9;
	padding: 40px;
	box-shadow: 1px 1px 1px #efefef;
	margin: 0 auto;

	.renderingForm-title {
		border-bottom: 1px dashed grey;
		text-align: center;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}

	h3 {
		padding-bottom: 15px;
	}

	.renderingForm-tag {
		padding-bottom: 15px;
		font-style: italic;
	}

	.optionRendering {
		margin-bottom: 10px;
		padding: 20px;
		cursor: pointer;
		box-shadow: 1px 1px 2px #8A0707;
		background-color: #fef4f4;
		border-radius: 5px;
		line-height: 1.5;
	}

	.display-number-votes {
		display: block;
		margin-bottom: 30px;
		text-align: right;
	}

	.renderingForm-numOfVotes {
		display: inline-block;
		padding-left: 15px;
	}
}