header {
	text-align: center;
	padding-bottom: 20px;

	.header-title {
		color: #8A0707;
		font-weight: normal;
		text-decoration: none;
		border: 2px solid #8A0707;
		padding: 10px 20px;
		margin-bottom: 30px;
	}

	p {
		padding: 10px 0;
		font-style: italic;
		margin: 0;
	}

	.userInformation {
		text-align: right;
		padding-right: 50px;

		button, p {
			display: inline-block;
		}

		p {
			padding-right: 15px;
			margin: 0;
		}

		button {
			background-color: white;
			border: 1px solid #8A0707;
			border-radius: 5px;
			cursor: pointer;

			&:hover {
				background-color: #8A0707;
				color: white;	
			}
		}
	}
}